{% extends "layouts/base.html" %}

{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="row">
    <div class="col-md-6 col-xl-4">
        <div class="card">
            <div class="card-block">
                <h6 class="mb-4">У вас ботов</h6>
                <div class="row d-flex align-items-center">
                    <div class="col-9">
                        <h3 class="f-w-300 f-flex align-items-center m-b-0">
                            <i class="feather icon-target text-c-green f-30 m-r-10"></i>
                            34
                        </h3>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card">
            <div class="card-block">
                <h6 class="mb-4">Ваш тариф</h6>
                <div class="row d-flex align-items-center">
                    <div class="col-9">
                        <h3 class="f-w-300 f-flex align-items-center m-b-0">
                            <i class="feather icon-briefcase text-c-red f-30 m-r-10"></i>
                            Стандарт
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card">
            <div class="card-block">
                <h6 class="mb-4">Заработано</h6>
                <div class="row d-flex align-items-center">
                    <div class="col-9">
                        <h3 class="f-w-300 f-flex align-items-center m-b-0">
                            <i class="feather-dollar-sign"></i>
                            <i class="feather icon-arrow-up text-c-blue f-30 m-r-10"></i>
                            17 500Р
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-md-6">
        <div class="card">
            <div class="card-header"><h5>Статистика ботов</h5></div>
            <div class="card-block px-0 py-3">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <th></th>
                            <th>Название</th>
                            <th>Пользователей</th>
                            <th>Активность</th>
                            <th>Заработано</th>
                            
                        </thead>
                        <tbody>
                            <tr class="unread">
                                <td>
                                    <img src="{% static "assets/images/user/avatar-1.jpg" %}" alt="" class="rounded-circle" style="width: 40px;">
                                </td>
                                <td>
                                    <h6 class="mb-1">Infinity Shop Bot</h6>
                                    <p class="m-0">Бот для продажи серверов</p>
                                </td>
                                <td>
                                    <p>6100</p>
                                </td>
                                <td>
                                    <p>62%</p>
                                </td>
                                <td>
                                    7500
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}